
    <header class="py-5 mb-5 background">
        <div class="py-sm-8" role="banner">
{#            <div class="container-lg width-full text-center">#}
{#                <p class="h2 font-weight-bolder bluecollar mtb-0">로그인</p>#}
{#            </div>#}
            <div class="mx-auto col-sm-8 col-md-4 hide-sm py-3">
                <div class="rounded-1  bg-gray-light text-gray py-4 px-4 px-md-3 px-lg-4 shadow-sm">
                    <form action="." id="reg" class="text-gray-dark" autocomplete="off" method="post">{% csrf_token %}
                        <dl class="form-group mt-0 required">
                            <dt class="input-label">
                                <label class="form-label h5" for="Email">Email</label>
                            </dt>
                            <dd>
                                <input type="email" name="username" id="id_username"
                                       class="form-control form-control-lg input-block"
                                       autocomplete="off" placeholder="Email address" spellcheck="false">
                            </dd>
                        </dl>
                        <dl class="form-group mt-0 required">
                            <dt class="input-label">
                                <label class="form-label h5" for="id_password">Password</label>
                            </dt>
                            <dd>
                                <input type="password" name="password" id="id_password"
                                       class="form-control form-control-lg input-block" autocomplete="off"
                                       placeholder="Password" spellcheck="false">
                            </dd>
                        </dl>
                        <br/>
                        <br/>
                        <button class="btn-mktg btn-primary-mktg btn-large-mktg f4 btn-block my-3" type="button"
                                id="spin" disabled="true">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                        <button type="submit" id="log_btn" value="LOGIN"
                                class="btn-mktg btn-primary-mktg btn-large-mktg f4 btn-block my-3">LOGIN
                        </button>
                        <br/>
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <div class="font-weight-bold">아이디어와 비밀번호가 다릅니다.</div>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <label class="control-label"
                                               for="{{ field.id_for_label }}"> <strong>{{ field.label }}
                                            : </strong>{{ error }}</label>
                                        <br/>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </header>

    <script>
        $(document).ready(function () {
            $('#spin').hide();
            $('#log_btn').show();
            $('#reg').submit(function () {
                $('#spin').show();
                $('#log_btn').hide();
            });
        });
    </script>
